@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.42857143;
  color: #2c3e50;
  background-color: #ffffff; }

.container {
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem; }

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem; }

.content {
  background-color: #4B77BE;
  padding: .5rem;
  color: #F5F5F5;
  text-align: center;
  margin-bottom: 1rem; }

@media screen and (min-width: 320px) {
  .phone-1 {
    flex-basis: 8.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-2 {
    flex-basis: 16.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-3 {
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-4 {
    flex-basis: 33.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-5 {
    flex-basis: 41.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-6 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-7 {
    flex-basis: 58.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-8 {
    flex-basis: 66.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-9 {
    flex-basis: 75%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-10 {
    flex-basis: 83.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-11 {
    flex-basis: 91.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .phone-12 {
    flex-basis: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; } }
@media screen and (min-width: 480px) {
  .smallPhone-1 {
    flex-basis: 8.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-2 {
    flex-basis: 16.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-3 {
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-4 {
    flex-basis: 33.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-5 {
    flex-basis: 41.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-6 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-7 {
    flex-basis: 58.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-8 {
    flex-basis: 66.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-9 {
    flex-basis: 75%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-10 {
    flex-basis: 83.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-11 {
    flex-basis: 91.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .smallPhone-12 {
    flex-basis: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; } }
@media screen and (min-width: 768px) {
  .tablet-1 {
    flex-basis: 8.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-2 {
    flex-basis: 16.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-3 {
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-4 {
    flex-basis: 33.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-5 {
    flex-basis: 41.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-6 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-7 {
    flex-basis: 58.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-8 {
    flex-basis: 66.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-9 {
    flex-basis: 75%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-10 {
    flex-basis: 83.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-11 {
    flex-basis: 91.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .tablet-12 {
    flex-basis: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; } }
@media screen and (min-width: 1024px) {
  .desktop-1 {
    flex-basis: 8.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-2 {
    flex-basis: 16.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-3 {
    flex-basis: 25%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-4 {
    flex-basis: 33.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-5 {
    flex-basis: 41.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-6 {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-7 {
    flex-basis: 58.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-8 {
    flex-basis: 66.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-9 {
    flex-basis: 75%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-10 {
    flex-basis: 83.33333%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-11 {
    flex-basis: 91.66667%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; }

  .desktop-12 {
    flex-basis: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem; } }
.center {
  justify-content: center; }

.star {
  justify-content: flex-start; }

.end {
  justify-content: flex-end; }

.between {
  justify-content: space-between; }

.around {
  justify-content: space-around; }

.top {
  align-items: flex-start; }

.middle {
  align-items: center; }

.bottom {
  align-items: flex-end; }

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px; }

.button-default {
  color: #ffffff;
  background-color: #95a5a6;
  border-color: #95a5a6; }
  .button-default:hover {
    color: #ffffff;
    background-color: #798d8f;
    border-color: #74898a; }

.button-primary {
  color: #ffffff;
  background-color: #2c3e50;
  border-color: #2c3e50; }
  .button-primary:hover {
    background-color: #253544;
    border-color: #161f29; }

.button-3d {
  color: #fff;
  background: #229FFD;
  position: relative;
  top: 0;
  box-shadow: 0 4px 0 #0880d7, 0 5px 3px rgba(0, 0, 0, 0.3); }
  .button-3d:active {
    top: 3px;
    box-shadow: 0 1px 0 #0662a6, 0 2px 3px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=style.css.map */
